body {
	background-image: url("../323912.jpg");
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
}
#contenedor{
	padding: 2% 40%;
}
.formulario {
	background-color: rgba(42,42,42,0.85)
}
#hola div{
	background-color: rgba(42,42,42,0.85);
	margin:4% 0 3%;
}
span #contador {
	font-size: 20px;
}
.colorRed{
	color: #CB2B33;
}
.colorPurpura {
	color: #FE82A6;
}
.colorSol {
	color: #FDC161;
}
#mensaje{
	overflow: hidden;
}