body {
	background-image: url("../323912.jpg");
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
}
#contenedor{
	padding: 2% 30%;
}
.formulario {
	background-color: rgba(141, 186, 199, 0.62);
	word-wrap: break-word;
	padding: 3% 2%;
	margin: 0;
	border-radius: 6px;
}
img{
	width: 10%;
}
#hola div{
	background-color: rgba(42, 42, 42, 0.43);
	margin:4% 0 3%;
	padding: 1% 2%;	
}
#hola{
	word-wrap: break-word;
}
span #contador {
	font-size: 20px;
}
#mensaje{
	overflow: hidden;
	background-color: rgba(206, 72, 111, 0.71);
	border-color: rgba(206, 72, 111, 0.91);
	border-radius: 3px;
	width: 75%;
}
.colorRed{
	color: #CB2B33;
}
.colorPurpura {
	color: #FE82A6;
}
.colorSol {
	color: #FDC161;
}
